<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test"/>
     <test name = "paralleltest" parallel = "methods">
    <classes>
      <class name="TestNGtest.testngcode"/>
      <class name="TestNGtest.TestNGsample"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
